Obróka danych | podejście 2

In [313]:
import pandas as pd
import yfinance
from datetime import date, timedelta, datetime
import numpy as np
import math
from tqdm import tqdm
import pickle
from sklearn.preprocessing import LabelEncoder 

# import comp_lista
import comps_without_scores

Pobieranie pliku, który jest danymi z moodle - pozbawionymi niepotrzebnych zmiennych i ułożonymi ładnie.

url = "https://raw.githubusercontent.com/MarylaSosna/umwf_projekt/main/dane_ulozone.csv"
df = pd.read_csv(url, sep=";")
df["Date"] = pd.to_datetime(df["Date"], format="%d.%m.%Y")

In [286]:
df = pd.read_csv('dane_basic.csv', sep=',', header = None, names = ['Date', 'Comp2','Comp','Category','Code', 'Score'])
df = df.drop('Code', axis = 1)
df = df.drop('Comp2', axis=1)
df = df.reset_index(drop = True)
df["Date"] = pd.to_datetime(df["Date"])

In [287]:
df

            Date   Comp                Category     Score
0     2004-02-11     SU         Energy Minerals  0.953727
1     2004-02-11    GGG  Producer Manufacturing  0.952753
2     2004-02-11    WGR         Energy Minerals  0.947634
3     2004-02-11    CWT               Utilities  0.934181
4     2004-02-11    BLL      Process Industries  0.922862
...          ...    ...                     ...       ...
37355 2022-02-09    PEP   Consumer Non-Durables  0.701507
37356 2022-02-09   SSNC     Technology Services  0.701123
37357 2022-02-09    GEF      Process Industries  0.697954
37358 2022-02-09    DPZ       Consumer Services  0.697741
37359 2022-02-09  LIFZF     Non-Energy Minerals  0.695644

[37360 rows x 4 columns]

In [152]:
df.head()

        Date Comp                Category     Score
0 2004-02-11   SU         Energy Minerals  0.953727
1 2004-02-11  GGG  Producer Manufacturing  0.952753
2 2004-02-11  WGR         Energy Minerals  0.947634
3 2004-02-11  CWT               Utilities  0.934181
4 2004-02-11  BLL      Process Industries  0.922862

In [153]:
df.Score.isna().sum()

0

In [154]:
df.shape

(37360, 4)

In [155]:
df.Comp.nunique()

1834

Dla każdej firmy pobierane są dzienne ceny zamknięcia (Close) w przedziale czasowym 11 luty 2004 - dzisiaj, ponieważ im dalej, tym lepiej -- jeżeli chcemy prognozować stopę zwrotu w rocznym horyzoncie czasowym, to wzór na nią = dzisiejszy Close/Close za rok.

In [156]:
comp_names = set(df.Comp)

In [157]:
beginnig_date = datetime(2004, 2, 11)
end_date = datetime.now()

In [16]:
closes_df = pd.DataFrame()
# comp_names = set({"SU", "GGG", "WGR"})

for comp in comp_names:
    getInfo = yfinance.Ticker(comp)
    getHistory = getInfo.history(getInfo, start=beginnig_date, end=end_date)

    getHistory["Comp"] = comp
    getHistory["Date"] = getHistory.index
    closes_df = closes_df.append(getHistory, ignore_index=True)

closes_df = closes_df.drop(columns=["Open", "High", "Low", "Volume", "Dividends", "Stock Splits", "Adj Close"])

- VIA.XX10: No data found, symbol may be delisted
- CATM: No data found, symbol may be delisted
- ASFI: No data found, symbol may be delisted
- UTIW: No data found for this date range, symbol may be delisted
- WSO.B: No data found, symbol may be delisted
- STRZB: No data found for this date range, symbol may be delisted
- PD.XX1: No data found, symbol may be delisted
- VICR: No data found for this date range, symbol may be delisted
- PPS: No data found for this date range, symbol may be delisted
- DLLR: No data found for this date range, symbol may be delisted
- PNY: No data found for this date range, symbol may be delisted
- BKC.XX10: No data found, symbol may be delisted
- WFSI: No data found for this date range, symbol may be delisted
- ROGFF: No data found, symbol may be delisted
- GEF.B: No data found for this date range, symbol may be delisted
- EC.XX9: No data found, symbol may be delisted
- SIRO: No data found for this date range, symbol may be delisted
- BGGSQ: No data found, symbol may be delisted
- WPZ.XX1: No data found, symbol may be delisted
- HTS: No data found for this date range, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- NVLS.XX1: No data found, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- WES.XX1: No data found, symbol may be delisted
- INFA.XX1: No data found, symbol may be delisted
- HRC: No data found, symbol may be delisted
- STMP: No data found, symbol may be delisted
- CHG.XX10: No data found, symbol may be delisted
- BGPIQ: No data found, symbol may be delisted
- KPP: No data found for this date range, symbol may be delisted
- EGOV: No data found, symbol may be delisted
- HMSY: No data found, symbol may be delisted
- ORB: No data found for this date range, symbol may be delisted
- HNR: No data found for this date range, symbol may be delisted
- LGF.A: No data found, symbol may be delisted
- ISIL: No data found for this date range, symbol may be delisted
- HOFD: No data found, symbol may be delisted
- GYMB: No data found for this date range, symbol may be delisted
- ARTI.XX9: No data found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- GXDX: No data found for this date range, symbol may be delisted
- KWD: No data found for this date range, symbol may be delisted
- NSR.XX2: No data found, symbol may be delisted
- PLL.XX1: No data found, symbol may be delisted
- KRA: No data found, symbol may be delisted
- GTM: No data found for this date range, symbol may be delisted
- IQNT: No data found for this date range, symbol may be delisted
- BOBE: No data found for this date range, symbol may be delisted
- FUR: No data found for this date range, symbol may be delisted
- RSTI: No data found for this date range, symbol may be delisted
- AL.XX1: No data found, symbol may be delisted
- MLS.XX9: No data found, symbol may be delisted
- TFCF: No data found, symbol may be delisted
- GRA: No data found, symbol may be delisted
- ISCA: No data found, symbol may be delisted
- STZ.B: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- RCI.XX11: No data found, symbol may be delisted
- KWKAQ: No data found for this date range, symbol may be delisted
- AMTD.XX1: No data found, symbol may be delisted
- CMLEF: No data found, symbol may be delisted
- WRI: No data found, symbol may be delisted
- POPE: No data found, symbol may be delisted
- BLKIA: No data found for this date range, symbol may be delisted
- CASC.XX2: No data found, symbol may be delisted
- GDI.XX1: No data found, symbol may be delisted
- VMSI.XX1: No data found, symbol may be delisted
- RTEC: No data found, symbol may be delisted
- SYKE: No data found, symbol may be delisted
- MHS.XX1: No data found, symbol may be delisted
- NMG.B: No data found for this date range, symbol may be delisted
- ELNK: No data found for this date range, symbol may be delisted
- TECD: No data found, symbol may be delisted
- APU: No data found, symbol may be delisted
- STB: No data found, symbol may be delisted
- WCN.XX2: No data found, symbol may be delisted
- LGCYQ: No data found, symbol may be delisted
- TQNT: No data found for this date range, symbol may be delisted
- MCF: No data found, symbol may be delisted
- AZR.XX1: No data found, symbol may be delisted
- AYR: No data found, symbol may be delisted
- LCAV: No data found for this date range, symbol may be delisted
- HNH: No data found for this date range, symbol may be delisted
- BRY.XX1: No data found, symbol may be delisted
- PIKE: No data found for this date range, symbol may be delisted
- BLUD: No data found for this date range, symbol may be delisted
- DTGF: No data found, symbol may be delisted
- BF.A: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- ALSK: No data found, symbol may be delisted
- MATK: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- MNR: No data found, symbol may be delisted
- HSNI: No data found for this date range, symbol may be delisted
- PDE: No data found for this date range, symbol may be delisted
- ADVBQ: No data found for this date range, symbol may be delisted
- TIF: No data found, symbol may be delisted
- IPHS: No data found, symbol may be delisted
- MEDQ: No data found for this date range, symbol may be delisted
- TXU: No data found for this date range, symbol may be delisted
- ASCA.XX1: No data found, symbol may be delisted
- LLL.XX1: No data found, symbol may be delisted
- SGK: No data found for this date range, symbol may be delisted
- ALTR.XX1: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- LAACZ: No data found, symbol may be delisted
- BRSS: No data found, symbol may be delisted
- UNS: No data found for this date range, symbol may be delisted
- IGTE: No data found for this date range, symbol may be delisted
- SPB.XX1: No data found, symbol may be delisted
- DNKN: No data found, symbol may be delisted
- BPO: No data found for this date range, symbol may be delisted
- LEN.B: No data found for this date range, symbol may be delisted
- WSC.XX1: No data found, symbol may be delisted
- STCI.XX10: No data found, symbol may be delisted
- NEWCQ: No data found, symbol may be delisted
- HSH: No data found for this date range, symbol may be delisted
- INCLF: No data found, symbol may be delisted
- MAUXF: No data found for this date range, symbol may be delisted
- PMZFF: No data found, symbol may be delisted
- ISCB.XX1: No data found, symbol may be delisted
- BXG.XX1: No data found, symbol may be delisted
- NGLS: No data found for this date range, symbol may be delisted
- LNY: No data found for this date range, symbol may be delisted
- KFN: No data found for this date range, symbol may be delisted
- BNI: No data found for this date range, symbol may be delisted
- STAR.XX9: No data found, symbol may be delisted
- CDX.XX1: No data found, symbol may be delisted
- BRLI.XX1: No data found, symbol may be delisted
- MTSC: No data found, symbol may be delisted
- CUB: No data found, symbol may be delisted
- GISX: No data found for this date range, symbol may be delisted
- ABVT: No data found for this date range, symbol may be delisted
- STRZA: No data found for this date range, symbol may be delisted
- TLM: No data found for this date range, symbol may be delisted
- CTRX: No data found for this date range, symbol may be delisted
- CKH: No data found, symbol may be delisted
- MBG.XX9: No data found, symbol may be delisted
- FNSR: No data found, symbol may be delisted
- KMI.XX1: No data found, symbol may be delisted
- EQY: No data found for this date range, symbol may be delisted
- TKLC: No data found for this date range, symbol may be delisted
- MIK.XX1: No data found, symbol may be delisted
- RTI: No data found for this date range, symbol may be delisted
- COCOQ: No data found, symbol may be delisted
- RGC.XX1: No data found, symbol may be delisted
- LAF.XX1: No data found, symbol may be delisted
- ENSI: No data found for this date range, symbol may be delisted

- GVHR: No data found for this date range, symbol may be delisted
- LABL: No data found, symbol may be delisted
- BIO.B: No data found for this date range, symbol may be delisted
- CMD: No data found, symbol may be delisted
- LIFE.XX5: No data found, symbol may be delisted
- NBL: No data found, symbol may be delisted
- PLD.XX2: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- VIAC: No data found, symbol may be delisted
- DNEX: No data found for this date range, symbol may be delisted
- EV: No data found, symbol may be delisted
- HCR.XX1: No data found, symbol may be delisted
- CHSI: No data found for this date range, symbol may be delisted
- POT: No data found for this date range, symbol may be delisted
- MHM.XX1: No data found, symbol may be delisted
- CMO: No data found, symbol may be delisted
- Q.XX1: No data found, symbol may be delisted
- KDN: No data found for this date range, symbol may be delisted
- CEC: No data found for this date range, symbol may be delisted
- TIVO: No data found, symbol may be delisted
- XEC: No data found, symbol may be delisted
- ARRO: No data found for this date range, symbol may be delisted
- ANST: No data found for this date range, symbol may be delisted
- QCOR: No data found for this date range, symbol may be delisted
- EFXFF: No data found, symbol may be delisted
- HDS: No data found, symbol may be delisted
- NTY: No data found for this date range, symbol may be delisted
- VMED: No data found for this date range, symbol may be delisted
- COGT.XX2: No data found, symbol may be delisted
- KNL: No data found, symbol may be delisted
- BEAV: No data found for this date range, symbol may be delisted
- WLSM: No data found, symbol may be delisted
- LEARQ: No data found, symbol may be delisted
- ANN: No data found for this date range, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- JDAS: No data found for this date range, symbol may be delisted
- HUSKF: No data found, symbol may be delisted
- FRX.XX1: No data found, symbol may be delisted
- ASEI: No data found for this date range, symbol may be delisted
- GPRO.XX1: No data found, symbol may be delisted
- PSUNQ: No data found for this date range, symbol may be delisted
- ANCUF: No data found, symbol may be delisted
- IAC.XX10: No data found, symbol may be delisted
- MWIV: No data found for this date range, symbol may be delisted
- HEI.A: No data found, symbol may be delisted
- POG: No data found for this date range, symbol may be delisted
- GTRC: No data found for this date range, symbol may be delisted
- AQNT: No data found for this date range, symbol may be delisted
- WYE: No data found for this date range, symbol may be delisted
- CHTT: No data found for this date range, symbol may be delisted
- BRK.A: No data found, symbol may be delisted
- PSYS.XX1: No data found, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- INGR.XX1: No data found, symbol may be delisted
- PVG.XX1: No data found, symbol may be delisted
- RPAI: No data found, symbol may be delisted
- BDG.XX9: No data found, symbol may be delisted
- SAPE: No data found for this date range, symbol may be delisted
- RCRC: No data found for this date range, symbol may be delisted
- LDL: No data found, symbol may be delisted
- PIXR: No data found for this date range, symbol may be delisted
- GYI: No data found for this date range, symbol may be delisted
- LC.XX1: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- AVHI.XX1: No data found, symbol may be delisted
- APSG.XX1: No data found, symbol may be delisted
- LTM.XX1: No data found, symbol may be delisted
- CVA: No data found, symbol may be delisted
- COGN: No data found for this date range, symbol may be delisted
- SCLN: No data found for this date range, symbol may be delisted
- RAVN: No data found, symbol may be delisted
- MCRS: No data found for this date range, symbol may be delisted
- PALDF: No data found, symbol may be delisted
- RSE.XX1: No data found, symbol may be delisted
- DWSN.XX1: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- GAS.XX1: No data found, symbol may be delisted
- HW: No data found for this date range, symbol may be delisted
- VRX.XX1: No data found, symbol may be delisted
- RSCR: No data found for this date range, symbol may be delisted
- TLP: No data found, symbol may be delisted
- EVER.XX1: No data found, symbol may be delisted
- ACV.XX1: No data found, symbol may be delisted
- FEIC: No data found for this date range, symbol may be delisted
- NTLS: No data found for this date range, symbol may be delisted
- AGN.XX2: No data found, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- RSHCQ: No data found for this date range, symbol may be delisted
- HDLM: No data found, symbol may be delisted
- JCI.XX1: No data found, symbol may be delisted
- TRK: No data found, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- CPG.XX1: No data found, symbol may be delisted
- PGN.XX1: No data found, symbol may be delisted
- WBMD: No data found for this date range, symbol may be delisted
- DCP.XX1: No data found, symbol may be delisted
- HUB.A: No data found, symbol may be delisted
- CBM: No data found, symbol may be delisted
- DFODQ: No data found, symbol may be delisted
- HF: No data found, symbol may be delisted
- JW.A: No data found, symbol may be delisted
- MOG.A: No data found, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- TFCFA: No data found, symbol may be delisted
- EPB: No data found for this date range, symbol may be delisted
- SPSS: No data found for this date range, symbol may be delisted
- CHKAQ: No data found, symbol may be delisted
- DMND: No data found for this date range, symbol may be delisted
- STU.XX1: No data found, symbol may be delisted
- HLT.XX1: No data found, symbol may be delisted
- AIRM: No data found for this date range, symbol may be delisted
- BBX.XX2: No data found, symbol may be delisted
- MGG: No data found for this date range, symbol may be delisted
- LZ.XX1: No data found, symbol may be delisted
- MOLX: No data found for this date range, symbol may be delisted
- BMC: No data found for this date range, symbol may be delisted
- AGE.XX2: No data found, symbol may be delisted
- MNT: No data found for this date range, symbol may be delisted
- SY.XX11: No data found, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- DFT: No data found for this date range, symbol may be delisted
- ACO: No data found for this date range, symbol may be delisted
- CYT.XX10: No data found, symbol may be delisted
- VAL.XX1: No data found, symbol may be delisted
- RRD: No data found, symbol may be delisted
- WGR: No data found for this date range, symbol may be delisted
- WWIN.XX1: No data found, symbol may be delisted
- DUNDF: No data found, symbol may be delisted
- DG.XX1: No data found, symbol may be delisted
- NDN: No data found for this date range, symbol may be delisted
- CYSVF: No data found, symbol may be delisted
- CPWR.XX1: No data found, symbol may be delisted
- GCGMF: No data found, symbol may be delisted
- PHM: No data found for this date range, symbol may be delisted
- BTUUQ: No data found for this date range, symbol may be delisted
- DRIV.XX1: No data found, symbol may be delisted
- DTV.XX1: No data found, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- ASNAQ: No data found, symbol may be delisted
- STK.XX1: No data found, symbol may be delisted
- KEM: No data found, symbol may be delisted
- PRXL: No data found for this date range, symbol may be delisted
- BRL.XX1: No data found, symbol may be delisted
- LM: No data found, symbol may be delisted
- ZLC: No data found for this date range, symbol may be delisted
- APPB.XX1: No data found, symbol may be delisted
- UFS: No data found, symbol may be delisted
- WNR: No data found for this date range, symbol may be delisted
- EQ.XX2: No data found, symbol may be delisted

- ICUI: No data found for this date range, symbol may be delisted
- MKC.V: No data found, symbol may be delisted
- VARI: No data found for this date range, symbol may be delisted
- NTRI: No data found, symbol may be delisted
- CMG.B: No data found, symbol may be delisted
- CORE: No data found, symbol may be delisted
- CLGX: No data found, symbol may be delisted
- LBYYQ: No data found, symbol may be delisted
- HPOL: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- IGT.XX1: No data found, symbol may be delisted
- SII.XX1: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- PTRY: No data found for this date range, symbol may be delisted
- BJ.XX10: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- CBST: No data found for this date range, symbol may be delisted
- MRD.XX1: No data found, symbol may be delisted
- ANH: No data found, symbol may be delisted
- ARG: No data found for this date range, symbol may be delisted
- TCO: No data found, symbol may be delisted
- DCT.XX1: No data found, symbol may be delisted
- EDE: No data found for this date range, symbol may be delisted
- JOSB: No data found for this date range, symbol may be delisted
- AACB: No data found for this date range, symbol may be delisted
- OCR: No data found for this date range, symbol may be delisted
- TIBX: No data found for this date range, symbol may be delisted
- HPY: No data found for this date range, symbol may be delisted
- SSNC.XX1: No data found, symbol may be delisted
- GK.XX3: No data found, symbol may be delisted
- HFC: No data found, symbol may be delisted
- CEPH: No data found for this date range, symbol may be delisted
- WLP.XX9: No data found, symbol may be delisted
- WDR: No data found, symbol may be delisted
- BPL: No data found, symbol may be delisted
- TT.XX2: No data found, symbol may be delisted
- RARE.XX1: No data found, symbol may be delisted
- DD.XX1: No data found, symbol may be delisted
- PVAHQ: No data found for this date range, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- BEAM.XX3: No data found, symbol may be delisted
- IWOV: No data found for this date range, symbol may be delisted
- TSY.XX1: No data found, symbol may be delisted
- FSYS: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- ETP.XX1: No data found, symbol may be delisted
- TCP: No data found, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- NMG.A: No data found, symbol may be delisted
- FRTA: No data found, symbol may be delisted
- CINR: No data found, symbol may be delisted
- DNB.XX1: No data found, symbol may be delisted
- AVX: No data found, symbol may be delisted
- RATE.XX1: No data found, symbol may be delisted
- RESP.XX1: No data found, symbol may be delisted
- PPP.XX1: No data found, symbol may be delisted
- GLYT: No data found for this date range, symbol may be delisted
- BYI: No data found for this date range, symbol may be delisted
- ACAT: No data found for this date range, symbol may be delisted
- OAK: No data found, symbol may be delisted
- GSF.XX1: No data found, symbol may be delisted
- GRP.XX1: No data found, symbol may be delisted
- PIRRQ: No data found, symbol may be delisted
- KKD: No data found for this date range, symbol may be delisted
- JW.B: No data found, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- EPE.XX1: No data found, symbol may be delisted
- CTX.XX1: No data found, symbol may be delisted
- AIPC: No data found, symbol may be delisted
- ALD.XX1: No data found, symbol may be delisted
- QLGC: No data found for this date range, symbol may be delisted
- XLNX: No data found, symbol may be delisted
- PPDI: No data found for this date range, symbol may be delisted
- ODSY: No data found for this date range, symbol may be delisted
- KOG: No data found for this date range, symbol may be delisted
- FTI.XX1: No data found, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- ZQKSQ: No data found for this date range, symbol may be delisted
- SUN.XX1: No data found, symbol may be delisted
- CRRC: No data found for this date range, symbol may be delisted
- UST.XX1: No data found, symbol may be delisted
- AMMD: No data found for this date range, symbol may be delisted
- CNW: No data found for this date range, symbol may be delisted
- IUSA.XX2: No data found, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- AGU: No data found for this date range, symbol may be delisted
- KMP: No data found for this date range, symbol may be delisted
- HYSL: No data found for this date range, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- MNIQQ: No data found, symbol may be delisted
- BFAM.XX1: No data found, symbol may be delisted
- EASI.XX1: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- SE.XX11: No data found, symbol may be delisted
- OKS: No data found for this date range, symbol may be delisted
- CNXM: No data found, symbol may be delisted
- ABI.XX1: No data found, symbol may be delisted
- VIACA: No data found, symbol may be delisted
- WOOF.XX1: No data found, symbol may be delisted
- JAH: No data found for this date range, symbol may be delisted
- EMS.XX1: No data found, symbol may be delisted
- BGH.XX1: No data found, symbol may be delisted
- CY: No data found, symbol may be delisted
- CTWS: No data found, symbol may be delisted
- CNL: No data found for this date range, symbol may be delisted
- PMC: No data found for this date range, symbol may be delisted
- MVK: No data found for this date range, symbol may be delisted
- FIF.XX2: No data found, symbol may be delisted
- KL: No data found, symbol may be delisted
- CEG.XX3: No data found, symbol may be delisted
- OUTR: No data found for this date range, symbol may be delisted
- MCRL: No data found for this date range, symbol may be delisted
- AXE: No data found, symbol may be delisted
- DELL.XX1: No data found, symbol may be delisted
- PNRA: No data found for this date range, symbol may be delisted
- ININ: No data found for this date range, symbol may be delisted
- OVTI: No data found for this date range, symbol may be delisted
- TOUSQ: No data found, symbol may be delisted
- PLMD: No data found for this date range, symbol may be delisted
- LDR: No data found for this date range, symbol may be delisted
- ARD.XX1: No data found, symbol may be delisted
- GWR: No data found, symbol may be delisted
- TLRDQ: No data found, symbol may be delisted
- CGX: No data found for this date range, symbol may be delisted
- CNVR: No data found for this date range, symbol may be delisted

Eksport do csv, bo wczytanie powyższego kodu zajmuje ok. 40 min.

In [17]:
closes_df.to_csv("closes_df.csv")

In [158]:
closes_df = pd.read_csv("closes_df.csv")
closes_df = closes_df.drop(columns="Unnamed: 0")
closes_df["Date"] = pd.to_datetime(closes_df["Date"], format="%Y-%m-%d")
closes_df.head()

       Close   Comp       Date
0  71.500000  ARDNA 2004-02-10
1  73.180000  ARDNA 2004-02-11
2  74.000000  ARDNA 2004-02-12
3  72.754997  ARDNA 2004-02-13
4  72.000000  ARDNA 2004-02-17

In [159]:
closes_df.shape

(5599549, 3)

In [160]:
len(set(closes_df.Comp))
# nie pobrały się informacje nt. 423 spółek

1411

Wyliczanie stopy zwrotu w 4 różnych horyzontach czasowych (miesiąc, kwartał, pół roku, rok) zgdonie ze wzorem

$r_t = ln\frac{C_t}{C_{t-1}}$

$C_{t-1}$ - cena zamknięcia (Close) w okresie poprzedzającym (miesiąc temu, kwartał temu itd.)

In [79]:
companies_txt = comp_lista.lista

In [84]:
# companies = set(closes_df.Comp)
closes_rors_df = pd.DataFrame()
lc = len(companies_txt)

for comp in companies_txt:
    lc -= 1
    print(lc, comp)
    comp_df = closes_df[closes_df.Comp == comp].copy()

    for date in comp_df.Date:
        try:
            # wartość bazowa c_{t-1}
            c_t1 = comp_df[comp_df.Date == date].iloc[0, 0]

            # wartość za miesiąc
            date_plus_month = date + pd.DateOffset(months=1)
            if date_plus_month in set(comp_df.Date):
                c_t_month = comp_df[comp_df.Date == date_plus_month].iloc[0, 0]
                ror_month = math.log(c_t_month / c_t1)
                comp_df.loc[comp_df["Date"] == date_plus_month, "ROR_month"] = ror_month
        
        except ValueError:
            ror_month = np.nan
            continue
            
        try:
            # wartość za kwartał
            date_plus_qtr = date + pd.DateOffset(months=3)
            if date_plus_qtr in set(comp_df.Date): 
                c_t_qtr = comp_df[comp_df.Date == date_plus_qtr].iloc[0, 0]
                ror_qtr = math.log(c_t_qtr / c_t1)
                comp_df.loc[comp_df["Date"] == date_plus_qtr, "ROR_qtr"] = ror_qtr
                
        except ValueError:
            ror_qtr = np.nan
            continue

        try:    
            # wartość za pół roku
            date_plus_halfy = date + pd.DateOffset(months=6)
            if date_plus_halfy in set(comp_df.Date):
                c_t_halfy = comp_df[comp_df.Date == date_plus_halfy].iloc[0, 0]
                ror_halfy = math.log(c_t_halfy / c_t1)
                comp_df.loc[comp_df["Date"] == date_plus_halfy, "ROR_half_year"] = ror_halfy
                
        except ValueError:
            ror_halfy = np.nan
            continue

        try:     
            # wartość za rok
            date_plus_year = date + pd.DateOffset(years=1)
            if date_plus_year in set(comp_df.Date):
                c_t_year = comp_df[comp_df.Date == date_plus_year].iloc[0, 0]
                ror_year = math.log(c_t_year / c_t1)
                comp_df.loc[comp_df["Date"] == date_plus_year, "ROR_year"] = ror_year
            
        except ValueError:
            ror_year = np.nan
            continue
            
    closes_rors_df = closes_rors_df.append(comp_df, ignore_index=True)

410 UHAL
409 SMG
408 DXPE
407 ELY
406 MHK
405 AYE
404 EQT
403 IMKTA
402 LBLCF
401 SFM
400 SPTN
399 WST
398 DDS
397 PAA
396 MANT
395 MFW
394 CL
393 SYNA
392 NNI
391 IIPR
390 ET
389 DCI
388 WMS
387 AEGXF
386 AMGN
385 BBBY
384 LGND
383 SPG
382 QRVO
381 HII
380 ZD
379 CAH
378 CSGP
377 HEI
376 NJR
375 MFA
374 LPLA
373 ASH
372 VRTX
371 SATS
370 PBT
369 CR
368 ATGFF
367 TORXF
366 CALM
365 RPT
364 BSET
363 GME
362 ACTG
361 BPMP
360 PRAA
359 APAM
358 NP
357 VMC
356 INGR
355 NOC
354 KHC
353 SLAB
352 ATGE
351 PEG
350 PNM
349 NOA
348 LAD
347 DSGX
346 LAMR
345 LHO
344 WSM
343 FSTR
342 WSPOF
341 NEWT
340 BR
339 SPXC
338 GBNXF
337 COL
336 LQDT
335 AMRX
334 AYI
333 CLE
332 EPC
331 SWK
330 FR
329 ALOG
328 DX
327 PSA
326 PCH
325 UIC
324 ALB
323 HNI
322 SYF
321 NOVT
320 HD
319 DLX
318 WD
317 ROK
316 HVT
315 CPLA
314 HAL
313 CPSI
312 GTTNQ
311 GM
310 WPC
309 LKQ
308 RSGUF
307 AGGZF
306 MMS
305 KMG
304 BEZ
303 QBCRF
302 STAG
301 NPIFF
300 FLR
299 HSIC
298 AVGO
297 TROW
296 WWW
295 ECL
294 LGIH
293 ALK
292 MFE
291 CENT
290 TDG
289 SAIC
288 PCL
287 SYNT
286 IPG
285 IP
284 IONS
283 TNH
282 FNLIF
281 GE
280 CMDXF
279 GGG
278 WH
277 EVR
276 HGTXU
275 AN
274 HHS
273 WLK
272 ECOL
271 PF
270 LHX
269 CMTL
268 STLJF
267 LANC
266 SEM
265 MRTN
264 UFPI
263 BLC
262 GNRC
261 EHC
260 PJT
259 SXI
258 MTGE
257 HUN
256 GRBK
255 SM
254 CHH
253 ENSG
252 TTC
251 H
250 PWER
249 NXGN
248 OC
247 TREVF
246 EGO
245 EIFZF
244 BYD
243 BEC
242 MDLZ
241 IART
240 BWA
239 LCII
238 NPK
237 HLIT
236 WDFC
235 TPR
234 KIM
233 LLY
232 TTWO
231 DE
230 NWN
229 CPXWF
228 CSWI
227 ICE
226 AEO
225 UPS
224 DEL
223 AZPN
222 GCAAF
221 MNARF
220 HLNE
219 HTGC
218 CGAU
217 MBUU
216 CLS
215 GBDC
214 RYN
213 F
212 ROH
211 J
210 CRUS
209 KTO
208 EMLAF
207 PRG
206 SPWH
205 JBL
204 POST
203 SU
202 ONEXF
201 BRO
200 ADP
199 HITK
198 BTEGF
197 FF
196 MLKN
195 PAYX
194 EPR
193 TMTNF
192 HOLX
191 VNO
190 IPAR
189 SMCI
188 PMT
187 PFE
186 ZTS
185 WEX
184 UI
183 BKH
182 BJ
181 AMWD
180 CHRW
179 ORA
178 SO
177 BLK
176 IPGP
175 GTLS
174 RRX
173 SNI
172 NWE
171 RUSMF
170 SUUIF
169 KGC
168 KAR
167 TAC
166 PCZ
165 OXY
164 ERIE
163 MTH
162 NTCT
161 ARJ
160 GR
159 ADI
158 CRAI
157 TSN
156 MCD
155 WOR
154 AGNC
153 MSCI
152 JJSF
151 MTEX
150 EMRAF
149 LUFK
148 ONTO
147 CDVIQ
146 ATRI
145 KFRC
144 CEVA
143 LEN
142 TU
141 WDC
140 DCO
139 TPH
138 SUN
137 CHD
136 UTHR
135 PEI
134 PETS
133 DHIL
132 SONC
131 DVA
130 MOV
129 MPS
128 FLWS
127 CSL
126 HSC
125 SEP
124 CDK
123 HLI
122 ECPG
121 FELE
120 CP
119 MER
118 ITPOF
117 ADS
116 PZZA
115 EA
114 IEP
113 KCI
112 OEC
111 RILY
110 WMT
109 PAHC
108 RWT
107 CIGI
106 PEP
105 HMA
104 CDUAF
103 DOOO
102 FCPT
101 SPB
100 ARESF
99 NRP
98 HLT
97 SUPN
96 AGMJF
95 GILD
94 FDX
93 WELL
92 FOXF
91 HUG
90 IDXX
89 SLM
88 AEIS
87 IFF
86 HTLD
85 BIO
84 BGCP
83 USPH
82 MRVL
81 EBF
80 SR
79 OVV
78 MATX
77 TBI
76 GDOT
75 EXETF
74 KKR
73 ITGR
72 NS
71 CZR
70 EXLS
69 OMM
68 FIX
67 CJREF
66 CSWC
65 KELYA
64 MITT
63 BHE
62 CERN
61 CAT
60 CENTA
59 LII
58 MDP
57 EAS
56 DLB
55 LEFUF
54 PLAB
53 SNA
52 FE
51 WBA
50 PENN
49 CCF
48 DGIT
47 EBS
46 THS
45 ABG
44 FTO
43 COO
42 CPB
41 LNCE
40 RCII
39 DAR
38 CPRT
37 LPX
36 SNX
35 D
34 ERF
33 BTG
32 SF
31 WU
30 WEN
29 VTR
28 DISCA
27 ES
26 TKR
25 ESS
24 WHR
23 BBWI
22 NVR
21 ALGT
20 CWXZF
19 TMO
18 HMCBF
17 CBT
16 BDG.A
15 ROST
14 IDC
13 MAS
12 JBSS
11 HNZ
10 PEGA
9 VC
8 SJI
7 HR
6 JLL
5 CMC
4 NEM
3 CACC
2 OCLR
1 AVA
0 GLCH

In [87]:
print(closes_rors_df.isna().sum(), closes_rors_df.shape)

Close                 1
Comp                  0
Date                  0
ROR_month        660714
ROR_qtr          330994
ROR_half_year    437819
ROR_year         491976
dtype: int64 (1598988, 7)

Wczytanie pliku z wyliczonymi wszystkimi stopami zwrotu

In [291]:
df_rors_all = pd.read_csv("rors_score_all.csv")

In [163]:
df_rors_all

,Unnamed: 0,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year
0,0,5.716019,UBA,2004-02-10,NaN,NaN,NaN,NaN
1,1,5.716019,UBA,2004-02-11,NaN,NaN,NaN,NaN
2,2,5.677787,UBA,2004-02-12,NaN,NaN,NaN,NaN
3,3,5.628081,UBA,2004-02-13,NaN,NaN,NaN,NaN
4,4,5.651024,UBA,2004-02-17,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5599544,5599544,123.379997,AMED,2022-05-19,-0.198096,NaN,-0.319647,-0.735906
5599545,5599545,126.400002,AMED,2022-05-20,-0.182453,NaN,NaN,-0.723842
5599546,5599546,121.150002,AMED,2022-05-23,NaN,-0.107504,-0.279830,NaN
5599547,5599547,117.209999,AMED,2022-05-24,NaN,-0.232772,-0.301535,-0.792475
5599548,5599548,114.900002,AMED,2022-05-25,-0.201216,-0.330486,NaN,-0.815773

In [164]:
df_rors_all = df_rors_all.drop(columns="Unnamed: 0")
df_rors_all["Date"] = pd.to_datetime(df_rors_all["Date"], format="%Y-%m-%d")
df_rors_all.head()

      Close Comp       Date  ROR_month  ROR_qtr  ROR_half_year  ROR_year
0  5.716019  UBA 2004-02-10        NaN      NaN            NaN       NaN
1  5.716019  UBA 2004-02-11        NaN      NaN            NaN       NaN
2  5.677787  UBA 2004-02-12        NaN      NaN            NaN       NaN
3  5.628081  UBA 2004-02-13        NaN      NaN            NaN       NaN
4  5.651024  UBA 2004-02-17        NaN      NaN            NaN       NaN

In [165]:
df_rors_all.shape

(5599549, 7)

In [168]:
df_rors_all.Comp.nunique()

1411

In [169]:
df_rors_all.isna().sum()

Close                 18
Comp                   0
Date                   0
ROR_month        2312063
ROR_qtr          1155117
ROR_half_year    1527215
ROR_year         1713116
dtype: int64

## Połączenie danych

Jak widać, w 5 mln zbiorze znajduje się wiele braków. Wynika to z faktu, że 1) dla niektórych spółek nie udało się pobrac danych z Yahoo Finace (funkcja zwróciła błąd), 2) jest zedecydowanie mniej wartści Score niż ROR (Score notowany jest w większym niż dzienny interwale).

In [170]:
rors_scores_df = pd.merge(df_rors_all, df, how="left", on=["Comp", "Date"])
rors_scores_df

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Category,Score
0,5.716019,UBA,2004-02-10,NaN,NaN,NaN,NaN,NaN,NaN
1,5.716019,UBA,2004-02-11,NaN,NaN,NaN,NaN,NaN,NaN
2,5.677787,UBA,2004-02-12,NaN,NaN,NaN,NaN,NaN,NaN
3,5.628081,UBA,2004-02-13,NaN,NaN,NaN,NaN,NaN,NaN
4,5.651024,UBA,2004-02-17,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5599544,123.379997,AMED,2022-05-19,-0.198096,NaN,-0.319647,-0.735906,NaN,NaN
5599545,126.400002,AMED,2022-05-20,-0.182453,NaN,NaN,-0.723842,NaN,NaN
5599546,121.150002,AMED,2022-05-23,NaN,-0.107504,-0.279830,NaN,NaN,NaN
5599547,117.209999,AMED,2022-05-24,NaN,-0.232772,-0.301535,-0.792475,NaN,NaN
5599548,114.900002,AMED,2022-05-25,-0.201216,-0.330486,NaN,-0.815773,NaN,NaN

In [173]:
rors_scores_df.isna().sum()

Close                 18
Comp                   0
Date                   0
ROR_month        2312063
ROR_qtr          1155117
ROR_half_year    1527215
ROR_year         1713116
Category         5569442
Score            5569442
dtype: int64

In [ ]:
comps_without_scores = []
drop_len = 0
for comp in rors_scores_df.Comp.unique():
    comp_df = rors_scores_df[rors_scores_df.Comp == comp]
    if comp_df.Score.isna().sum() == len(comp_df.Score):
        comps_without_scores.append(comp)
        drop_len += len(comp_df.Score)
        
print(comps_without_scores, drop_len)

In [176]:
comps_without_scores = comps_without_scores.comps_without_scores
print(comps_without_scores)

['MV', 'TEG', 'PGL', 'HOVVB', 'CMX', 'EE', 'CKR', 'POM', 'HET', 'WLMS', 'STR', 'NST', 'EMC', 'LDG', 'DRC', 'THI', 'GTK', 'ITC', 'NZ', 'ERT', 'PTV', 'NHP', 'HAR', 'MWP', 'BN', 'CEB', 'PRX', 'NVE', 'VCI', 'WRK', 'IM', 'CIXX', 'PETM', 'CLC', 'JH', 'PCP', 'IPMLF', 'DLM', 'NXG', 'FSH', 'HOT', 'PAS', 'AMRX', 'CLE', 'UIC', 'BEZ', 'MFE', 'PCL', 'BLC', 'KTO', 'PCZ', 'ONTO', 'MER', 'HMA', 'HUG', 'OMM', 'MDP', 'BDG.A', 'IDC']

In [177]:
rors_scores_clean = pd.DataFrame()
rors_scores_clean = rors_scores_df[~rors_scores_df['Comp'].isin(comps_without_scores)]
# df[df['Ticker'].isin(Ticker_num[Ticker_num >= 14].index)].copy()

In [178]:
rors_scores_clean

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Category,Score
0,5.716019,UBA,2004-02-10,NaN,NaN,NaN,NaN,NaN,NaN
1,5.716019,UBA,2004-02-11,NaN,NaN,NaN,NaN,NaN,NaN
2,5.677787,UBA,2004-02-12,NaN,NaN,NaN,NaN,NaN,NaN
3,5.628081,UBA,2004-02-13,NaN,NaN,NaN,NaN,NaN,NaN
4,5.651024,UBA,2004-02-17,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5599544,123.379997,AMED,2022-05-19,-0.198096,NaN,-0.319647,-0.735906,NaN,NaN
5599545,126.400002,AMED,2022-05-20,-0.182453,NaN,NaN,-0.723842,NaN,NaN
5599546,121.150002,AMED,2022-05-23,NaN,-0.107504,-0.279830,NaN,NaN,NaN
5599547,117.209999,AMED,2022-05-24,NaN,-0.232772,-0.301535,-0.792475,NaN,NaN
5599548,114.900002,AMED,2022-05-25,-0.201216,-0.330486,NaN,-0.815773,NaN,NaN

In [179]:
rors_scores_clean.shape

(5525581, 9)

In [180]:
rors_scores_df.shape[0] - 73968

5525581

In [181]:
rors_scores_clean.isna().sum()

Close                 18
Comp                   0
Date                   0
ROR_month        2279644
ROR_qtr          1136053
ROR_half_year    1501660
ROR_year         1682558
Category         5495474
Score            5495474
dtype: int64

In [111]:
df_with_means = pd.DataFrame()
for comp in tqdm(rors_scores_clean.Comp.unique()):
    pom_df = pd.DataFrame()
    pom_df = rors_scores_clean[rors_scores_clean.Comp == comp].copy()
    score_index = pom_df[~pom_df.Score.isna()].index
    length += len(score_index)
    for indx in score_index:
        start_date = pom_df.loc[indx, 'Date']
        dates_indx = pom_df.loc[(pom_df.Date >= (start_date - timedelta(days = 7))) & (pom_df.Date <= start_date)].index
        pom_df.loc[indx, 'ROR_month'] = pom_df.loc[dates_indx ,'ROR_month'].mean()
        pom_df.loc[indx, 'ROR_qtr'] = pom_df.loc[dates_indx ,'ROR_qtr'].mean()
        pom_df.loc[indx, 'ROR_half_year'] = pom_df.loc[dates_indx ,'ROR_half_year'].mean()
        pom_df.loc[indx, 'ROR_year'] = pom_df.loc[dates_indx ,'ROR_year'].mean()
    
    df_with_means = pd.concat([df_with_means, pom_df[pom_df.index.isin(score_index)]])
df_with_means = df_with_means.reset_index(drop = True)
print(df_with_means)

100%|██████████| 1352/1352 [35:03<00:00,  1.56s/it]

            Close  Comp       Date  ROR_month   ROR_qtr  ROR_half_year  \
0        6.163362   UBA 2004-03-24   0.083411       NaN            NaN
1        7.158419   UBA 2005-06-15   0.087692  0.098211       0.032070
2        7.281594   UBA 2005-06-29   0.045381  0.134050       0.014216
3        7.605220   UBA 2005-07-13   0.066313  0.228741       0.148893
4        7.613519   UBA 2005-07-27   0.062501  0.249711       0.149382
...           ...   ...        ...        ...       ...            ...
30102   56.180000  AMED 2010-02-10   0.054901  0.305918       0.220840
30103   58.970001  AMED 2017-07-12  -0.002406  0.152455       0.332011
30104   48.689999  AMED 2017-07-26  -0.120590  0.079048       0.190007
30105  122.250000  AMED 2019-03-13  -0.113183 -0.090947      -0.019737
30106  119.559998  AMED 2019-03-27  -0.024715  0.099533       0.015505

       ROR_year     Score
0           NaN  0.741122
1      0.254842  0.803913
2      0.223035  0.806620
3      0.219617  0.923381
4      0.305484  0.923270
...         ...       ...
30102  0.206022  0.485908
30103  0.160072  0.689752
30104  0.075266  0.677474
30105  0.683718  0.751574
30106  0.695205  0.751194

[30107 rows x 8 columns]

In [112]:
df_with_means.to_csv('df_with_means.csv')

In [182]:
df_with_means = pd.read_csv("df_with_means.csv")
df_with_means = df_with_means.drop(columns=['Unnamed: 0'])
df_with_means["Date"] = pd.to_datetime(df_with_means["Date"])

In [183]:
df_with_means

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Score
0,6.163362,UBA,2004-03-24,0.083411,NaN,NaN,NaN,0.741122
1,7.158419,UBA,2005-06-15,0.087692,0.098211,0.032070,0.254842,0.803913
2,7.281594,UBA,2005-06-29,0.045381,0.134050,0.014216,0.223035,0.806620
3,7.605220,UBA,2005-07-13,0.066313,0.228741,0.148893,0.219617,0.923381
4,7.613519,UBA,2005-07-27,0.062501,0.249711,0.149382,0.305484,0.923270
...,...,...,...,...,...,...,...,...
30102,56.180000,AMED,2010-02-10,0.054901,0.305918,0.220840,0.206022,0.485908
30103,58.970001,AMED,2017-07-12,-0.002406,0.152455,0.332011,0.160072,0.689752
30104,48.689999,AMED,2017-07-26,-0.120590,0.079048,0.190007,0.075266,0.677474
30105,122.250000,AMED,2019-03-13,-0.113183,-0.090947,-0.019737,0.683718,0.751574
30106,119.559998,AMED,2019-03-27,-0.024715,0.099533,0.015505,0.695205,0.751194

In [184]:
url = "https://raw.githubusercontent.com/MarylaSosna/umwf_projekt/main/oil_gold_yuan.csv"
df_finance_info = pd.read_csv(url, sep=",")
# df_finance_info = df_finance_info.drop(columns=['Unnamed: 0'])
df_finance_info["Date"] = pd.to_datetime(df_finance_info["Date"])

In [185]:
df_means_oil_gold = pd.merge(df_with_means, df_finance_info, how="left", on=["Date"])
df_means_oil_gold

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Score,Oil,Gold,USD to Yuan
0,6.163362,UBA,2004-03-24,0.083411,NaN,NaN,NaN,0.741122,37.009998,417.200012,8.267201
1,7.158419,UBA,2005-06-15,0.087692,0.098211,0.032070,0.254842,0.803913,55.570000,429.100006,8.266501
2,7.281594,UBA,2005-06-29,0.045381,0.134050,0.014216,0.223035,0.806620,57.259998,NaN,8.266501
3,7.605220,UBA,2005-07-13,0.066313,0.228741,0.148893,0.219617,0.923381,60.009998,423.899994,8.266501
4,7.613519,UBA,2005-07-27,0.062501,0.249711,0.149382,0.305484,0.923270,59.110001,424.700012,8.102800
...,...,...,...,...,...,...,...,...,...,...,...
30102,56.180000,AMED,2010-02-10,0.054901,0.305918,0.220840,0.206022,0.485908,74.519997,1075.800049,6.819000
30103,58.970001,AMED,2017-07-12,-0.002406,0.152455,0.332011,0.160072,0.689752,45.490002,1218.099976,6.801700
30104,48.689999,AMED,2017-07-26,-0.120590,0.079048,0.190007,0.075266,0.677474,48.750000,1249.000000,6.749800
30105,122.250000,AMED,2019-03-13,-0.113183,-0.090947,-0.019737,0.683718,0.751574,58.259998,1307.500000,6.707600
30106,119.559998,AMED,2019-03-27,-0.024715,0.099533,0.015505,0.695205,0.751194,59.410000,1309.900024,6.714700

df_means_oil_gold = pd.merge(df_means_oil_gold, df, how="left", on=["Comp", "Date", "Score"])

In [310]:
df_all

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Score,Oil,Gold,USD to Yuan,Category
0,6.163362,UBA,2004-03-24,0.083411,NaN,NaN,NaN,0.741122,37.009998,417.200012,8.267201,Finance
1,7.158419,UBA,2005-06-15,0.087692,0.098211,0.032070,0.254842,0.803913,55.570000,429.100006,8.266501,Finance
2,7.281594,UBA,2005-06-29,0.045381,0.134050,0.014216,0.223035,0.806620,57.259998,NaN,8.266501,Finance
3,7.605220,UBA,2005-07-13,0.066313,0.228741,0.148893,0.219617,0.923381,60.009998,423.899994,8.266501,Finance
4,7.613519,UBA,2005-07-27,0.062501,0.249711,0.149382,0.305484,0.923270,59.110001,424.700012,8.102800,Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
30102,56.180000,AMED,2010-02-10,0.054901,0.305918,0.220840,0.206022,0.485908,74.519997,1075.800049,6.819000,Health Services
30103,58.970001,AMED,2017-07-12,-0.002406,0.152455,0.332011,0.160072,0.689752,45.490002,1218.099976,6.801700,Health Services
30104,48.689999,AMED,2017-07-26,-0.120590,0.079048,0.190007,0.075266,0.677474,48.750000,1249.000000,6.749800,Health Services
30105,122.250000,AMED,2019-03-13,-0.113183,-0.090947,-0.019737,0.683718,0.751574,58.259998,1307.500000,6.707600,Health Services
30106,119.559998,AMED,2019-03-27,-0.024715,0.099533,0.015505,0.695205,0.751194,59.410000,1309.900024,6.714700,Health Services

In [314]:
le = LabelEncoder()
df_all['Category'] = le.fit_transform(df_all['Category'])
df_all

,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Score,Oil,Gold,USD to Yuan,Category
0,6.163362,UBA,2004-03-24,0.083411,NaN,NaN,NaN,0.741122,37.009998,417.200012,8.267201,8
1,7.158419,UBA,2005-06-15,0.087692,0.098211,0.032070,0.254842,0.803913,55.570000,429.100006,8.266501,8
2,7.281594,UBA,2005-06-29,0.045381,0.134050,0.014216,0.223035,0.806620,57.259998,NaN,8.266501,8
3,7.605220,UBA,2005-07-13,0.066313,0.228741,0.148893,0.219617,0.923381,60.009998,423.899994,8.266501,8
4,7.613519,UBA,2005-07-27,0.062501,0.249711,0.149382,0.305484,0.923270,59.110001,424.700012,8.102800,8
...,...,...,...,...,...,...,...,...,...,...,...,...
30102,56.180000,AMED,2010-02-10,0.054901,0.305918,0.220840,0.206022,0.485908,74.519997,1075.800049,6.819000,9
30103,58.970001,AMED,2017-07-12,-0.002406,0.152455,0.332011,0.160072,0.689752,45.490002,1218.099976,6.801700,9
30104,48.689999,AMED,2017-07-26,-0.120590,0.079048,0.190007,0.075266,0.677474,48.750000,1249.000000,6.749800,9
30105,122.250000,AMED,2019-03-13,-0.113183,-0.090947,-0.019737,0.683718,0.751574,58.259998,1307.500000,6.707600,9
30106,119.559998,AMED,2019-03-27,-0.024715,0.099533,0.015505,0.695205,0.751194,59.410000,1309.900024,6.714700,9

In [315]:
# plik odkodowujący
filename = 'LabelEncoder.pickle'
pickle.dump(le, open(filename, 'wb'))

In [316]:
df_all.to_csv("df_all.csv")

In [309]:
df_all = pd.read_csv("df_all.csv")
df_all = df_all.drop(columns=['Unnamed: 0'])
df_all["Date"] = pd.to_datetime(df_all["Date"])