In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as sm

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_csv('df_all.csv', sep = ';')

In [5]:
df.head()

,Column1,Close,Comp,Date,ROR_month,ROR_qtr,ROR_half_year,ROR_year,Score,Oil,Gold,USD to Yuan,Category
0,0,6.163362,UBA,24.03.2004,0.083411,NaN,NaN,NaN,0.741122,37.009998,417.200012,8.267201,8.0
1,1,7.158419,UBA,15.06.2005,0.087692,0.098211,0.032070,0.254842,0.803913,55.570000,429.100006,8.266501,8.0
2,2,7.281594,UBA,29.06.2005,0.045381,0.134050,0.014216,0.223035,0.806620,57.259998,NaN,8.266501,8.0
3,3,7.605220,UBA,13.07.2005,0.066313,0.228741,0.148893,0.219617,0.923381,60.009998,423.899994,8.266501,8.0
4,4,7.613519,UBA,27.07.2005,0.062501,0.249711,0.149382,0.305484,0.923270,59.110001,424.700012,8.102800,8.0

In [6]:
df = df.drop('Column1', axis = 1)
df_clear = df.copy()
df_clear = df.dropna()

# Regresja linowa - horyzont roczny

In [7]:
# Wybór zmiennych objaśnianych i objaśniających
y = 'ROR_year'
x_cols = [col for col in df_clear.columns if col != y]
x_cols.remove('Date')
x_cols.remove('Comp')
x_cols.remove('ROR_qtr')
x_cols.remove('ROR_half_year')

In [8]:
# Dzielenie danych na treningowe i testowe
X_train, X_test, y_train, y_test = train_test_split(df_clear[x_cols], df_clear[y], test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16826, 7), (7212, 7), (16826,), (7212,))

In [9]:
def print_result(y_test, y_pred):
    print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_pred), 2)) 
    print("Mean squared error =", round(sm.mean_squared_error(y_test, y_pred), 2)) 
    print("Median absolute error =", round(sm.median_absolute_error(y_test, y_pred), 2)) 
    print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred), 2)) 
    print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))

In [10]:
# X_train, X_test, y_train, y_test = train_test_split(df_clear[x_cols], df_clear[y], test_size=0.3, random_state=42)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [11]:
print_result(y_test, y_pred)

Mean absolute error = 0.16
Mean squared error = 0.05
Median absolute error = 0.12
Explain variance score = 0.18
R2 score = 0.18

# Regresja linowa - horyzont półroczny

In [12]:
y = 'ROR_half_year'
x_cols = [col for col in df_clear.columns if col != y]
x_cols.remove('Date')
x_cols.remove('Comp')
x_cols.remove('ROR_qtr')
x_cols.remove('ROR_year')

In [13]:
# Dzielenie danych na treningowe i testowe
X_train, X_test, y_train, y_test = train_test_split(df_clear[x_cols], df_clear[y], test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16826, 7), (7212, 7), (16826,), (7212,))

In [14]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print_result(y_test, y_pred)

Mean absolute error = 0.12
Mean squared error = 0.03
Median absolute error = 0.09
Explain variance score = 0.2
R2 score = 0.19

# Regresja liniowa - horyzont kwartalny

In [15]:
y = 'ROR_qtr'
x_cols = [col for col in df_clear.columns if col != y]
x_cols.remove('Date')
x_cols.remove('Comp')
x_cols.remove('ROR_half_year')
x_cols.remove('ROR_year')

In [16]:
# Dzielenie danych na treningowe i testowe
X_train, X_test, y_train, y_test = train_test_split(df_clear[x_cols], df_clear[y], test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16826, 7), (7212, 7), (16826,), (7212,))

In [17]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print_result(y_test, y_pred)

Mean absolute error = 0.08
Mean squared error = 0.01
Median absolute error = 0.06
Explain variance score = 0.34
R2 score = 0.34